{{ template "layout" .}}

{{ define "utama" }}
<div class="container">
<table class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
        <tr>
          <th scope="row">{{ .ID }}</th>
          <td>{{ .Name }}</td>
          <td>{{ .Price }}</td>
          <td>{{ .Stock }}</td>
          <td>{{ .StockStatus }}</td>
          <!-- {{ if lt .Stock 20 }}
          <td>Stock tinggal sedikit</td>
          {{ else }}
          <td>Stock Masih banyak</td>
          {{ end }} -->
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ end }}